<div class="row">
  <div class="col">
    <div class="card ">
      <div class="card-image">
        <img src={{image_url}}>
      </div>
      <a class="btn button" id="like-btn"><i class="material-icons left">thumb_up</i></a>
      {{like_count}} {{format_plural "like" like_count}}
      <a class="waves-effect waves-light btn red" id="dislike-btn"><i class="material-icons right">thumb_down</i></a>
      <div class="card-content">
        <span class="card-title">{{user.username}}</span>
        <span class="card-title">{{user.username}}</span>
        <p>{{description}}</p>
      </div>
    </div>
  </div>

  {{!-- var like = document.querySelector('#green');
  var dislike = document.querySelector('#red');

  like.addEventListener('click', function() {

  if (dislike.classList.contains('red')) {
  dislike.classList.remove('red');
  }
  this.classList.toggle('green');


  });

  dislike.addEventListener('click', function() {

  if (like.classList.contains('green')) {
  like.classList.remove('green');
  }
  this.classList.toggle('red');

  }) --}}

    {{!-- <script src="/javascript/add-post.js"></script> --}}
