<div class="row">
  <div class="col">
    <div class="card ">
      <div class="card-image">
        <img src={{image_url}}>
      </div>
    
      <div class="center-align">
      <a href="/post/{{id}}" class="waves-effect waves-light btn-large green" id="like-btn"><i
          class="material-icons">thumb_up</i></a>
      {{like.count}}{{format_plural "like" like.count}}
      <a href="/post/{{id}}" class="waves-effect waves-light btn-large red" id="dislike-btn"><i
          class="material-icons">thumb_down</i></a>
      {{dislike.count}} {{format_plural "dislike" dislike.count}}
      </div>
      <div class="card-content">
        <span class="card-title">{{user.username}}</span>
        <span class="card-title">{{user.username}}</span>
        <p>{{description}}</p>
        {{format_date created_at}}
      </div>
    </div>
</div>
</div>
